In [1]:
from bcb import Expectativas
import matplotlib.pyplot as plt

In [2]:
em = Expectativas()
em.describe()

EntitySets:
  ExpectativasMercadoTop5Anuais
  ExpectativaMercadoMensais
  ExpectativasMercadoInflacao24Meses
  ExpectativasMercadoInflacao12Meses
  ExpectativasMercadoSelic
  ExpectativasMercadoTop5Selic
  ExpectativasMercadoTop5Mensais
  ExpectativasMercadoTrimestrais
  ExpectativasMercadoAnuais

In [3]:
em.describe('ExpectativasMercadoTop5Anuais')

EntitySet (Endpoint): ExpectativasMercadoTop5Anuais
EntityType: br.gov.bcb.olinda.servico.Expectativas.ExpectativasMercadoTop5Anual
Properties: Indicador<str>, Data<str>, DataReferencia<str>, tipoCalculo<str>, Media<float>, Mediana<float>, DesvioPadrao<float>, Minimo<float>, Maximo<float>

In [5]:
ep = em.get_endpoint('ExpectativasMercadoTop5Anuais')
ep.query().limit(10).collect()

,Indicador,Data,DataReferencia,tipoCalculo,Media,Mediana,DesvioPadrao,Minimo,Maximo
0,PIB Total,2023-03-31,2023,L,1.5936,1.7004,0.3553,0.9700,2.00
1,PIB Total,2023-03-31,2024,L,0.9817,1.1000,0.4276,0.4585,1.45
2,PIB Total,2023-03-31,2025,L,1.5833,1.5000,0.1546,1.4500,1.80
3,PIB Total,2023-03-31,2026,L,1.5833,1.5000,0.1546,1.4500,1.80
4,PIB Total,2023-03-31,2027,L,1.5833,1.5000,0.1546,1.4500,1.80
5,PIB Total,2023-04-03,2023,L,1.5936,1.7004,0.3553,0.9700,2.00
6,PIB Total,2023-04-03,2024,L,0.9817,1.1000,0.4276,0.4585,1.45
7,PIB Total,2023-04-03,2025,L,1.5833,1.5000,0.1546,1.4500,1.80
8,PIB Total,2023-04-03,2026,L,1.5833,1.5000,0.1546,1.4500,1.80
9,PIB Total,2023-04-03,2027,L,1.5833,1.5000,0.1546,1.4500,1.80

In [6]:
ep.query().filter(ep.Indicador == 'IPCA').limit(10).collect()
(ep.query()
 .filter(ep.Indicador == 'IPCA', ep.DataReferencia == 2023)
 .filter(ep.Data >= '2022-01-01')
 .filter(ep.tipoCalculo == 'C')
 .select(ep.Data, ep.Media, ep.Mediana)
 .orderby(ep.Data.desc())
 .limit(10)
 .collect())

        Data   Media  Mediana
0 2024-01-10  4.4984   4.4547
1 2024-01-09  4.4984   4.4547
2 2024-01-08  4.4984   4.4547
3 2024-01-05  4.4984   4.4547
4 2024-01-04  4.4599   4.4131
5 2024-01-03  4.4599   4.4131
6 2024-01-02  4.4329   4.4131
7 2023-12-29  4.4329   4.4131
8 2023-12-28  4.4329   4.4131
9 2023-12-27  4.4329   4.4131